name: Terraform

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_KEY }}
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  plan:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Checkout Action  
        uses: actions/checkout@v2
        with:
          repository: thinknyx-technologies-llp/provision-action
          token: ${{ secrets.REPO_TOKEN }}
          path: ./action
      - name: Checkout Opa  
        uses: actions/checkout@v2
        with:
          repository: darshan-thinknyx/opa
          token: ${{ secrets.REPO_TOKEN }}
          path: ./opa-test
      - name: Docker Login & Pull Image
        run: echo  ${{ secrets.REPO_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin && docker pull ghcr.io/thinknyx-technologies-llp/provision-action:v11
      - name: Terraform Init
        uses: ./action/
        with:
          operation: terraform
          command: init
          working_directory: terraform/
      - name: Terraform Plan
        uses: ./action/
        with:
          operation: terraform
          command: plan
          working_directory: terraform/
          arguments: -out build.tfplan
      - name: Terraform Show
        uses: ./action/
        with:
          operation: terraform
          command: show
          working_directory: terraform/
          arguments: -json build.tfplan
          output_file: ../build_terraform.json
      - name: Opa Check
        uses: ./action/
        with:
          operation: opa
          command: version
      - name: LS
        uses: ./action/
        with:
          operation: ls
          command: -ll
          #arguments: -i build_terraform.json -d opa-test/ "data"
      - name: cat
        uses: ./action/
        with:
          operation: cat
          command: build_terraform.json
          #arguments: -i build_terraform.json -d opa-test/ "data"
      - name: LS
        uses: ./action/
        with:
          operation: ls
          command: -ll opa-test
          #arguments: -i build_terraform.json -d opa-test/ "data"
      - name: Opa Check
        uses: ./action/
        with:
          operation: opa
          command: eval
          arguments: -i build_terraform.json -d opa-test/ "data"
