name: Terraform

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_KEY }}
  INFRACOST_API_KEY: ${{ secrets.INFRA_COST_KEY }}
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  plan:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Checkout Action  
        uses: actions/checkout@v2
        with:
          repository: thinknyx-technologies-llp/provision-action
          token: ${{ secrets.REPO_TOKEN }}
          path: ./action
      - name: Checkout Opa  
        uses: actions/checkout@v2
        with:
          repository: darshan-thinknyx/opa
          token: ${{ secrets.REPO_TOKEN }}
          path: ./opacheck
      - name: Checkout Action  
        uses: actions/checkout@v2
        with:
          repository: thinknyx-technologies-llp/notify
          token: ${{ secrets.REPO_TOKEN }}
          path: ./notify
      - name: Checkout TerraModule  
        uses: actions/checkout@v2
        with:
          repository: thinknyx-technologies-llp/terra-module1
          token: ${{ secrets.REPO_TOKEN }}
          path: ./terraform/module/
      - name: Docker Login & Pull Image
        run: echo  ${{ secrets.REPO_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin && docker pull ghcr.io/thinknyx-technologies-llp/notify:latest
      - name: Docker Login & Pull Image
        run: echo  ${{ secrets.REPO_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin && docker pull ghcr.io/thinknyx-technologies-llp/provision-action:v12
      - name: Terraform Init
        uses: ./action/
        with:
          operation: terraform
          command: init
          working_directory: terraform/
      - name: Terraform Plan
        uses: ./action/
        with:
          operation: terraform
          command: plan
          working_directory: terraform/
          arguments: -out build.tfplan
      - name: Tflint init
        uses: ./action/
        with:
          operation: tflint
          command: --init
          working_directory: terraform/
      - name: Tflint module
        uses: ./action/
        with:
          operation: tflint
          command: --module
          working_directory: terraform/
          #output_file: ../lint_status
      - name: statuscheck
        run: |
          ls -lla
          ls -lla terraform
          ls -lla terraform/module
      - name: Terraform Show
        uses: ./action/
        with:
          operation: terraform
          command: show
          working_directory: terraform/
          arguments: -json build.tfplan
          output_file: ../build_terraform.json
      - name: Opa Check
        uses: ./action/
        with:
          operation: opa
          command: eval
          arguments: -i build_terraform.json -d opacheck/ --fail-defined data.terraform.deny[x]
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Terraform Plan
          path: build_terraform.json
          retention-days: 90
      - name: Infracost
        uses: ./action/
        with:
          operation: infracost
          command: breakdown
          arguments: --path build_terraform.json --format table --out-file costing.table
      - name: Add commit comment
        run: |
          echo {"body": "MESSAGE"} > output.json
          value=`head -n -3 costing.table`
          echo $value
          message="'""{"body": "value"}""'"
          curl -sL  -X POST \
            -H "Content-Type: application/json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/$GITHUB_REPOSITORY/commits/$GITHUB_SHA/comments" \
            -d  $message
      - name: Send a Notification
        id: notify
        uses: ./notify
        with:
          teams_webhook_url: ${{ secrets.TEAMS_HOOK }}
          message: "Github Action Completed for ${{ github.repository	 }} with Build Number ${{ github.run_number }} and the plan can be found at https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}"
  apply:
    runs-on: ubuntu-latest
    environment: 'deploy'
    needs: [plan]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Checkout Action  
        uses: actions/checkout@v2
        with:
          repository: thinknyx-technologies-llp/provision-action
          token: ${{ secrets.REPO_TOKEN }}
          path: ./action
      - name: Docker Login & Pull Image
        run: echo  ${{ secrets.REPO_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin && docker pull ghcr.io/thinknyx-technologies-llp/provision-action:v11
      - name: Terraform Init
        uses: ./action/
        with:
          operation: terraform
          command: init
          working_directory: terraform/
      - name: Terraform Plan
        uses: ./action/
        with:
          operation: terraform
          command: plan
          working_directory: terraform/
      - name: Terraform Apply
        uses: ./action/
        with:
          operation: terraform
          command: apply
          arguments: --auto-approve
          working_directory: terraform/
